learfix::after {
	content: "";
	display: table;
	clear: both;
}

.right {
	float: right;
}

.top {
	height: 60vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35),
		rgba(0, 0, 0, 0.35)), url("../images/a (13).jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	color: #fff;
}

.budget {
	display: flex;
	flex-direction: column;
}

.budget__title {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 300;
}

.budget__value {
	text-align: center;
	font-weight: 300;
	font-size: 46px;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.budget__income, .budget__expenses {
	padding: 12px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	width: 350px;
	justify-content: space-between;
}

.budget__income {
	margin-bottom: 10px;
	background-color: #28B9B5;
}

.budget__expenses {
	background-color: #FF5049;
}

.hre i {
	position: absolute;
	top: 30%;
	font-size: 77px;
	right: 0;
	color: #fff;
}

.budget__lastMonth {
	position: absolute;
	top: 28%;
	right: 0;
	left: 0;
	border: 2px solid;
	width: 250px;
	display: flex;
	flex-direction: column;
	height: auto;
}

.budget-last {
	font-size: 26px;
	text-align: center;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.total-values {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.budget-text-income
{
	color: #00fff8;
}
.budget-text-expenses
{
	color: #ff4a43;
}
.budget-value{
	color: #fff;
	text-align: center;
	font-size: 18px;
}
.budget__income--text, .budget__expenses--text {
	float: left;
	font-size: 13px;
	color: #444;
	margin-top: 2px;
}

.budget__income--value, .budget__expenses--value {
	letter-spacing: 1px;
	font-size: 19px;
}

.budget__income--percentage, .budget__expenses--percentage {
	float: left;
	width: 34px;
	font-size: 11px;
	padding: 5px 0;
	margin-left: 10px;
}

.budget__expenses--percentage, .budget__income--percentage {
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	border-radius: 3px;
}

.add {
	border-bottom: 1px solid #e7e7e7;
	background-color: #f7f7f7;
}

.add .add__container {
	padding: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.add__type {
	width: 150px;
	border: 1px solid #e7e7e7;
	height: 44px;
	font-size: 18px;
	color: inherit;
	background-color: #fff;
	margin-right: 10px;
	font-weight: 300;
	transition: border 0.3s;
}

.add__description, .add__value {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 15px;
	margin-right: 10px;
	border-radius: 5px;
	transition: border 0.3s;
}

.add__description {
	width: 400px;
}

.add__value {
	width: 100px;
}

.add__btn {
	font-size: 35px;
	background: none;
	border: none;
	color: #28B9B5;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
	margin-left: 10px;
}

.add__btn:active {
	transform: translateY(2px);
}

.add__type:focus, .add__description:focus, .add__value:focus {
	outline: none;
	border: 1px solid #28B9B5;
}

.add__btn:focus {
	outline: none;
}

.list-content {
	padding-top: 15px;
}

.income {
	float: left;
	width: 475px;
	margin-right: 50px;
}

.expenses {
	float: left;
	width: 475px;
}

h2 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}

.icome__title {
	color: #28B9B5;
}

.expenses__title {
	color: #FF5049;
}

.item {
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
	border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
	background-color: #f7f7f7;
}

.item__description {
	float: left;
}

.item__value {
	float: left;
	transition: transform 0.3s;
}

.item__percentage {
	float: left;
	margin-left: 20px;
	transition: transform 0.3s;
	font-size: 11px;
	background-color: #FFDAD9;
	padding: 3px;
	border-radius: 3px;
	width: 32px;
	text-align: center;
}

.income .item__value, .income .item__delete--btn {
	color: #28B9B5;
}

.expenses .item__value, .expenses .item__percentage, .expenses .item__delete--btn
	{
	color: #FF5049;
}

.item__delete {
	float: left;
}

.item__delete--btn {
	font-size: 22px;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	display: none;
}

.item__delete--btn:focus {
	outline: none;
}

.item__delete--btn:active {
	transform: translateY(2px);
}

.item:hover .item__delete--btn {
	display: block;
}

.item:hover .item__value {
	transform: translateX(-20px);
}

.item:hover .item__percentage {
	transform: translateX(-20px);
}

.unpaid {
	background-color: #FFDAD9 !important;
	cursor: pointer;
	color: #FF5049;
}

.unpaid .item__percentage {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.unpaid:hover .item__description {
	font-weight: 900;
}